.movie {
  background-color: #191125;
  color: #fff;
  border-color: #160722;
  filter: drop-shadow(10px 10px 4px #00000056);
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  min-height: 400px; /* Changed to min-height */
  margin: 20px;
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden; /* Changed from overflow: hi; */
  transition: 0.2s;
}

.movie:hover {
  scale: 105%;
}

.movie-cover {
  float: left;
  height: 400px;
}

.movie-titles {
  text-align: center;
}

.movie-data {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjusted for 2-column grid */
  grid-template-rows: auto; /* Changed to auto */
  justify-content: space-evenly;
}

.movie-review {
  display: flex;
  align-items: flex-start;
  grid-column: 1;
}

.movie-review p {
  flex-grow: 1;
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
}

.movie-reviews-tomato {
  width: 60px;
  height: 60px;
  margin-left: 10%; /* Removed float: left; */
  flex-shrink: 0;
  margin-right: 10px;
}

.movie-description {
  grid-column: 2;
  display: flex;
  width: 50%;
  text-align: left;
  font-size: 20px;
  width: 50%;
}

.rating {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.rating-bar {
  background-color: rgb(67, 0, 90);
  width: 100%;
  height: 10px;
  display: flex;
}

.rating-bar-progress {
  background-color: rgb(120, 35, 160);
}
